<nav class="navbar">
	<div class="flex-container">  
		<a href="#home">Home</a>
		<div class="nav-dropdown">
			<button class="nav-dropbtn">About Us
				<i class="fa fa-angle-down"></i>
			</button>
			<div class="nav-dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
			</div>
		</div>
		<div class="nav-dropdown">
			<button class="nav-dropbtn">BGSA Events
				<i class="fa fa-angle-down"> </i>
			</button>
			<div class="nav-dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
			</div>
		</div>
		<a href="#CAMPUS">Campus Resources</a>
		<a href="#CALENDAR">Departmental Calendar</a>
		<a href="#GRADHELP">Graduation Help</a>
	</div>
</nav>