<nav class="row navbarCustom" id="horizontalNavbar">
		<div class="col">  
			<a href="#home">Home</a>
		</div>
		<div class="col">  
			<div class="navCustom-dropdown">
				<button class="navCustom-dropbtn">About Us
					<i class="fa fa-angle-down"></i>
				</button>
				<div class="navCustom-dropdown-content">
					<a href="#">Link 1</a>
					<a href="#">Link 2</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="navCustom-dropdown">
				<button class="navCustom-dropbtn">BGSA Events
					<i class="fa fa-angle-down"> </i>
				</button>
				<div class="navCustom-dropdown-content">
					<a href="#">Link 1</a>
					<a href="#">Link 2</a>
				</div>
			</div>
		</div>
		<div class="col">
			<a href="#CAMPUS">Campus Resources</a>
		</div>
		<div class="col">
			<a href="#CALENDAR">Calendar</a>
		</div>
		<div class="col">
			<a href="#GRADHELP">Graduation Help</a>
		</div>
</nav>