.current {
  color: green;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	height: 300vh;
	font-family: 'Fira Sans';
}


.flex-container {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

//INDEX

.bottomContainer {
	display: grid;
	grid-template-areas:
		'. mainContent mainContent mainContent mainContent'
}

//HEADER

.header-main {
	text-decoration: none;
	padding: 0;
	margin:0;
	font-size: 75px;
	color: black;
}

.header-main:hover {
	text-decoration: none;
	color: black;
}

.header-subtitle {
	text-align: center;
	padding: 0;
	margin:0;
	font-size: 15px;
	color: black;
}

// NAVBAR

.navbarCustom {
	padding:0;
	margin:0;
	margin-top: 30px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.navbarCustom a {
	width: 200px;
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color: black;
}

.navbarCustom a:hover {
	text-decoration: none;
}

.navCustom-dropdown {
	float: left;
	overflow: hidden;
}

.navCustom-dropdown .navCustom-dropbtn {
	width: 200px;
	font-size: 17px;
	text-align: center;
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: white;
	margin: 0;
}

.navCustom-dropdown-content {
	display: none;
	position: absolute;
	min-width: 180px;
	z-index: 1;
}

.navCustom-dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border: 1px solid #DEDDDD;
	background-color: white;
}

.navbarCustom a:hover, .navCustom-dropbtn:hover {
	color: #DEDDDD;
}

.navCustom-dropdown:hover .navCustom-dropdown-content {
  	display: block;
}

.navCustom-dropdown-content:hover a:hover {
	background-color: #DAF2FA;
}

.navCustom-dropdown-content:hover a {
	color: black;
}

// POST CATEGORIES


.postCategoryContainer {
	text-align:center;
	margin-top: 40px;
	margin-left: 30px;
}

.postCategoryHeading {
	width: 250px;
	height: 40px;
	background-color: gray;
}

.postCategory {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	width: 250px;
	height: 50px;
	border-bottom: 3px solid gray;
}

.postCategory a {
	color: black;
	text-decoration: none;
}

.postCategory a:hover {
	color: black;
	text-decoration: none;
}

.sticky {
	top: 0;
	left: 0;
}

// MAIN CONTENT

//Carousel

.carouselCustom {
	margin-top: 40px;
	height: 400px;
	width: 600px;
	overflow: hidden;
}



